/* Cores  */
:root {
    --background-color: #0e0e0e;
    --text-color: #ffffff;
    --accent-color: #181818;
    --accent-hover-color: #333333;
    --border-color: #dddddd;
    --purple-color: #6f32fd;
}

/* Estilos */
body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: 'Cairo', sans-serif;
}

p { font-size: 0.90em; }

/* Information Version */
.version-information {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(111, 50, 253, 1) 0%, rgb(137, 86, 255) 35%, rgba(0, 212, 255, 1) 100%);
    color: var(--text-color);
}

.version-information span{ 
    font-size: 1em;
}

.name-project {
    font-weight: bold;
    margin-right: 2%;
}

/* Input Search */
#searchInput {
    background:transparent;
    color: var(--text-color);
}

/* Container */
.container {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Input Container */
.input-container {
    width: 100%;
    max-width: 900px;
}
  /* Horizontal Card Information */
.horizontal-card-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    max-width: 900px;
    margin-top: 3%;
}

/* News Card */
.news-card { 
width: 100%;
    max-width: 900px;
    height: 50%;
    padding: 10px;
    background: linear-gradient(90deg, rgba(111, 50, 253, 1) 0%, rgb(137, 86, 255) 35%, rgba(0, 212, 255, 1) 100%);
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.notice-news-card-title { 
    font-weight: bold;
    font-size: 1.25em;
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}


/* Item Wrapper */
.item-content-wraper {
    position: relative;
    z-index: 2;
    text-align: left;
    width: 100%;
}

/* Hero Slide Item Content */
.hero-slide-item-content {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    height: 500px;
    color: var(--text-color);
    width: 100%;
    border: 1px solid var(--text-color);
}

.hero-slide-item-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;background: linear-gradient(to right, rgba(0, 0, 0, 0.98), rgb(0 0 0 / 48%));
    z-index: 1;
}

.searchOptions {    
    margin-top: 2%;
    width: 100%;
    margin-left: 3%;
}

.btn-outline-white {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 1%;
    border-radius: 5px;
}

/* Title Movies */
.item-content-title {
    font-weight: bold;
    font-size: 2em;
}

/* Item Description */
.item-content-description,
.movie-infos,
.providers-btn span {
    color: var(--text-color);
}

/* Providers Button */
.providers-btn {
    color: black;
    margin-top: 2%;
}

.providers-btn img {
    max-height: 30px;
    border-radius: 5px;
}
 
.cast-information {
    margin-top: 20px;
    width: calc(100% - 20px); 
}

.cast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cast-member {
    display: flex;
    align-items: center;
    background: var(--accent-color);
    padding: 2%;
    border-radius: 5px;
}


.cast-member img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}
 
.input-group {
    position: relative;
}
 
.suggestions {
    position: absolute;
    top: 100%; 
    left: 0;
    background: var(--background-color);
    border: 1px solid var(--border-color);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.suggestion img {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.suggestion:hover {
    background: var(--accent-hover-color);
}

.suggestions.show {
    display: block;
}

.suggestions {
    display: none;
}
.warning-version {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple-color);
}

.button-search {
    background-color: var(--purple-color);
}

.project-name {
    font-weight: bold;
    margin-right: 2%;
}

/* Recommended */
.recommended-horizontal-card-information {
    width: 100%;
    max-width: 900px;
    margin-top: 20px;
}

.recommended-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    width: 100%;
}

.recommended-item {
    position: relative;
    overflow: hidden; 
    margin-right: 1%;
}

.recommended-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.recommended-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.98), transparent);
}

.recommended-item .recommended-item-title {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 1; 
}

/* Responsive Layout */
@media (max-width: 768px) {
    .cast-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .cast-grid {
        grid-template-columns: 1fr;
    }
} 